<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="/pics/letter-m.png">
  <title>Contact</title>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  {{>nav}}
  <h3 class="section"> You can find me at </h3>
  <div class='links'>
    <a href='https://github.com/martham0'><img src='/pics/github.png' alt='Github' height="80" width="auto"></a>
    <a href='https://www.linkedin.com/in/mmartham'><img src='/pics/linkedin.png' alt='LinkedIn' height="80"
        width="auto"></a>
  </div>

  <h3 class="section"> Or you can leave a message</h3>
  <form>
    <div>
      <label>Email</label>
      <input type="text" placeholder="example@gmail.com" required>
    </div>
    <div>
      <textarea class='msg' name='message' placeholder="Write your message here..." required></textarea>
      {{!-- <input class='msg' type='text' , placeholder="Write your message here..." , maxlength="100"> --}}
    </div>
    <button>Send</button>
  </form>
  {{>footer}}

</body>

</html>