<!DOCTYPE html>
<html>

<head>
  <link rel="icon" href="/pics/letter-m.png">
  <title>Skills</title>
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <div class="main">
    {{>nav}}
  </div>
</body>

</html>