@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&family=Ubuntu+Mono&family=Montserrat:wght@700&display=swap');

$header: 'Montserrat', sans-serif;
$body: 'Hind Madurai', sans-serif;
$code: 'Ubuntu Mono', monospace;
