@import 'global/fonts.scss';
@import 'global/color.scss';

.Footer {
  display: block;
  text-align: center;
  font-family: $body;
}
.Footer a {
  text-decoration: none !important;
  color: none;
}
.Footer a:visited {
  color: black;
}
.Footer img {
  margin-left: 2%;
  margin-right: 2%;
  width: auto;
  height: 55px;
}
.signature a p {
  margin-bottom: 1%;
}
